header {
    display: flex;
    justify-content: space-between;
    align-items: center;


    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    .button1end {
        display: flex;
        justify-content: left;
        align-items: end;
    }

    a {
        text-decoration: none;
        display: flex;
        color: black;

    }

    .button1i {
        background-color: transparent;
        border-radius: 30px;
        border: 1px solid black;
    }


    .button2i {
        background-color: #283337;
        border-radius: 56px;
        border: none;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 12px;

    }

    .button2i a {
        color: white;
    }
}

main {
    background-color: #F3F7F4;

    .button2i {
        background-color: #283337;
        border-radius: 56px;
        border: none;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 12px;
    }

    .button2i a {
        color: white;
        text-decoration: none;
    }

    .reklama {

        display: flex;
        justify-content: space-between;
        align-items: center;

    }

}

.section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .button2i {
        background-color: #283337;
        border-radius: 56px;
        border: none;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 12px;

        a {
            color: white;
            text-decoration: none;
        }
    }



    .left-nastroyka {
        background-color: #F3F7F4;
        width: 560px;
        height: 548px;

        a {
            text-decoration: none;
            list-style-type: none;
            color: black;
            margin-top: 50px;
            margin-left: 50px;
        }

        img {
            margin-top: 50px;
            margin-left: 50px;
        }

        p {
            margin-top: 50px;
            margin-left: 50px;
        }

        h4 {
            margin-top: 50px;
            margin-left: 50px;
        }
    }

}

.section2 {
    background-color: #F3F7F4;

    .one-p {
        color:#E4E4E4;
    }
}
.section3{
    .one-p {
        color:#E4E4E4;
    }
}
.section4{
    background-color: #F3F7F4;
    .button2i {
        background-color: #283337;
        border-radius: 56px;
        border: none;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 12px;

    }

    .button2i a {
        text-decoration: none;
        color: white;
    }
}